[submodule "wnmp"]
	path = wnmp
	url = git://github.com/sabal/wnmp.git
[submodule "dokuwiki"]
	path = wiki/dokuwiki
	url = git://github.com/sabal/dokuwiki.git
[submodule "fckgLite"]
	path = wiki/fckgLite
	url = git://github.com/sabal/fckgLite.git
[submodule "wiki/dokuwiki-template-dokubook"]
	path = wiki/dokuwiki-template-dokubook
	url = git://github.com/samfisch/dokuwiki-template-dokubook.git
[submodule "wiki/dokuwiki-plugin-sabal"]
	path = wiki/dokuwiki-plugin-sabal
	url = git://github.com/sabal/dokuwiki-plugin-sabal.git
