[submodule "wnmp"]
	path = wnmp
	url = git://github.com/sabal/wnmp.git
[submodule "dokuwiki"]
	path = dokuwiki
	url = git://github.com/sabal/dokuwiki.git
[submodule "fckgLite"]
	path = fckgLite
	url = git://github.com/sabal/fckgLite.git
